@import "./variables.scss";

#main-container {
  display: flex;

  #pin-container {
    display: flex;
    justify-content: center;
    padding: 0em 4em;
    height: 63em;


    #comment-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      // max-width: 40em;
      min-width: inherit;

      .footer {
        display: flex;
        justify-content: flex-end;
      }

      #commentBtn {
        margin-top: 1em;
        margin-right: 1.5em;
        padding: .4em 1em;
        border: none;
        background: $background-color;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 100%;
        line-height: 100%;
        border-radius: 2em;
        color: black;
      }
    }

    #comment-list {
      display: flex;
      flex-direction: column;
      border-style: solid;
      border-radius: 2em;
      border-width: 1px;
      padding: 0em 1em;
      // width: 40em;
      max-width: 40em;
      margin-top: 1.5em;

      .comment-header {
        padding-top: 1em;
      }

      .comment-text {
        display: flex;
      }

      .comment-time {
        font-size: 0.8em;
      }
    }

    .new-comment {
      display: flex;
      justify-content: flex-start;
      margin: 2em;

      #comment-box::-webkit-scrollbar {
        width: 10px;
        border-radius: .5em;
        background: transparent;
      }


      #comment-box {
        display: flex;
        flex-direction: column;
        width: 40em;
        max-width: 40em;
        height: 10em;
        // min-width: 20em;
        resize: none;
        border-radius: 2em;
        padding: 1em;

        input,
        textarea {
          padding: 1em 1em;
          // width: calc(100vw - 20em);
          /* calc and viewport to the rescue */
          // height: calc(100vh - 20em);
          position: fixed;
        }
      }
    }


    #expanded-pin {
      display: flex;
      flex-wrap: wrap;
      width: 40%;
      flex-direction: column;
      background-color: #cedfd9;
      margin: 2em;
      min-width: 30em;
      max-width: 40em;
      flex-grow: 1;
      padding: 1em 0.5em;
      justify-content: space-between;
      height: fit-content;
      border-radius: 2em;

      #user-rating {
        display: flex;
        flex-direction: row;
        justify-content: center;

      }

      .rating {
        float: left;
        width: 300px;
      }

      .rating span {
        float: right;
        position: relative;
      }

      .rating span input {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
      }

      .rating span label {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        color: #FFF;
        background: #ccc;
        font-size: 30px;
        margin-right: 2px;
        line-height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
      }

      .rating span:hover~span label,
      .rating span:hover label,
      .rating span.checked label,
      .rating span.checked~span label {
        background: #F90;
        color: #FFF;
      }


      #content-body {
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em 2em;
      }


      .title-like {
        display: flex;
        justify-content: flex-end;
        padding: .7em 1em;
      }

      .title {

        display: flex;
        justify-content: center;
      }

      .description {
        text-align: justify;
      }

      .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        img {
          display: flex;
          max-width: 100%;
          height: auto;
          padding-bottom: 1.5em;
          border-radius: 1em;
        }
      }

      footer {
        padding: 0 7%;
        padding-top: 10%;

        .title {
          text-align: center;
        }

        .info {
          display: flex;
          justify-content: space-between;
        }

        .rating {
          display: flex;
          align-items: center;

          #average-rating {
            display: flex;
            align-items: center;

            .checked {
              color: orange;
            }
          }
        }
      }
    }
  }
}
