// See: https://sass-lang.com/

@import "./variables.scss";

body,
html {
  margin: 0;
}

main {
  display: flex;

  justify-content: center;
}

.favorite {
  color: red;
  font-size: 20px;
}

.favorite:hover {
  cursor: pointer;
}
