@import "./variables.scss";

#navigation {
  background-color: $background-color;
  height: 2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin: 0 auto;
  }

  div {
    background-color: $background-color;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  .nav-links {
    display: flex;
  }

  .nav-bar-items {
    display: flex;
    align-items: center;
  }


  #my-pins {
    border: none;
    background: #5F5449;
    box-shadow: 3px 4px 5px rgba(95, 84, 73, 0.39);
    border-radius: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 55%;
    line-height: 100%;


    color: #FBFBFB;
  }

  #logout {
    border: none;
    background: #5F5449;
    box-shadow: 3px 4px 5px rgba(95, 84, 73, 0.39);
    border-radius: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 55%;
    line-height: 100%;

    color: #FBFBFB;
  }

  #home {
    border: none;
    background: #5F5449;
    box-shadow: 3px 4px 5px rgba(95, 84, 73, 0.39);
    border-radius: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 55%;
    line-height: 100%;

    color: #FBFBFB;
  }

  .tweet-container>article:hover {
    box-shadow: 3px 4px 5px grey;
  }


}
