@import "./variables.scss";

#navigation {
  background-color: $background-color;
  height: 4em;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin: 0 auto;
  }
  div {
    background-color: $background-color;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
  .nav-links {
    display: flex;
  }
}
