#modal-holder {
  display: flex;
  margin-right: 12em;
  margin-top: 2em;
  justify-content: flex-end;



  .newpin-form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #pin-description-box {
    margin: 0;
  }

  #pin-content-box {
    margin: 0;
  }

  #pin-title-box {
    margin: 0;
  }

  #img-URL-box {
    margin: 0;
  }

  #URL-box {
    margin: 0;
  }

  input,
  textarea {
    border-radius: 3rem;
    border: 2px;
    height: 2rem;
    padding: 0 1vw;
    text-align: center;
  }
}
