@import "./variables.scss";

#modal-holder {
  display: flex;
  justify-content: center;
  padding: 1em 2em;
  margin: 5em 2em;
  background-color: $background-color;
  border-radius: 3em;
  width: 35em;

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .newpin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: .05em;
  }

  #create-pin-title {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: .05em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mb-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;

    #create-content {
      text-align: start;
      height: 20em;
      resize: none;
    }

  }



  #createPinBtn {
    margin-top: 0.2em;
    border: none;
    color: whitesmoke;
    background-color: #5f5449;
    width: 5em;
    height: 2em;
    border-radius: 3rem;
    letter-spacing: 0.07em;
  }

  #cancel-redirect {
    color: #5f5449;
  }

  modal-holder input,
  #modal-holder textarea {
    border-radius: 3rem;
    border: 2px;
    padding: 0.7em 1.5em;
  }
}


// id="submit-new--pin"
