@import "./variables.scss";

#pins-container {
  max-width: 1100px;
  width: 85%;
  // background-color: white;
  display: flex;

  flex-direction: row;
  //justify-content: space-evenly;
  gap: 10px 20px;
  justify-content: center;
  flex-wrap: wrap;

  .pin {
    background-color: $background-color;
    margin: 20px;
    width: 25%;
    min-width: 275px;
    flex-grow: 1;

    .image-container {
      width: 100%;
    }

    img {
      width: 100%;
    }

    footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 7%;
      height: 15em;

      .tag-rating {
        display: flex;
        align-items: flex-end;

      }

      .title {
        text-align: center;
      }

      .info {
        // display: flex;
        // justify-content: space-between;
        // display: inline-block;

        p {
          display: inline-block;
          margin: 0 0;
        }
      }

      .rating {
        display: inline-block;
        // display: flex;
        // align-items: center;
      }
    }
  }
}
