@import "./variables.scss";

#pins-container {
  max-width: 1400px;
  width: 95%;
  // background-color: white;
  margin: 10px auto;
  display: flex;

  flex-direction: row;
  justify-content: center;
  gap: 10px 20px;

  flex-wrap: wrap;

  .pin {
    background-color: $background-color;
    margin: 20px;
    width: 25%;
    min-width: 275px;

    border-radius: 1em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

    .title {
      text-align: center;
    }

    .checked {
      color: orange;
    }

    img {
      height: 200px;

      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }

    img:hover {
      cursor: pointer;
    }

    .favorite {
      float: right;

      font-size: 20px;
    }
  }

  .pin:hover {
    box-shadow: 5px 6px 7px grey;
  }
}
