#profile-article {
  margin-top: 10rem;
  padding: 3rem;
  background-color: #cedfd9;
  border-width: 0rem;
  border-radius: 2rem;
  text-align: center;

  #edit-profile-btn {
    margin-top: 1rem;
    padding: 10px 1.5rem;
    border-radius: 3rem;
    border: none;
    background-color: #5f5449;
    color: whitesmoke;
  }

}
