#profile-article {
  margin-top: 8rem;
  padding: 3rem;
  background-color: #cedfd9;
  border-width: 0rem;
  border-radius: 2rem;
  text-align: center;

  #edit-profile-btn {
    margin-top: 1rem;
    padding: 10px 1.5rem;
    border-radius: 3rem;
    border: none;
    background-color: #5f5449;
    color: whitesmoke;
  }

  .edit-info {
    padding: .3em 0;
  }

  input,
  textarea {
    border-radius: 3rem;
    border: none;
    height: 2rem;
    padding: 0 1vw;
    text-align: center;
  }

  ::-webkit-input-placeholder {
    text-align: center;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
  }

  :-ms-input-placeholder {
    text-align: center;
  }
}
